{% extends 'base.html.twig' %}

{% block title %}Listado de proyectos{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Descripción', 'description') }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for project in pagination %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('projects_show', {'id': project.id}) }}">Mostrar</a>
                    <a class="btn btn-warning" href="{{ path('projects_edit', {'id': project.id}) }}">Editar</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#A{{ project.id }}" >Borrar</a>
                </td>
            </tr>
            {{ include('projects/modalDelete.html.twig') }}
        {% else %}
            <tr>
                <td colspan="7">No hay ningún proyecto en el servidor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Proyectos registrados en la base de datos:  {{ pagination.getTotalItemCount }}</h1>

    {% include('shared/paginator.html.twig') %}
{% endblock %}
