{% extends 'base.html.twig' %}

{% block title %}Listado de lanzamientos{% endblock %}

{% block body %}
    <h1>Listado de lanzamientos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Proyecto', 'projectid') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Version', 'version') }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for release in pagination %}
            <tr>
                <td>
                    {% for project in release.projectid %}
                        {{ project.name }}
                    {% else %}
                        No tiene un proyecto asignado (esto no debería pasar)
                    {% endfor %}
                </td>
                <td>{{ release.version }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('releases_edit', {'id': release.id}) }}">Editar</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#A{{ release.id }}" >Borrar</a>
                </td>
            </tr>
            {{ include('releases/modalDelete.html.twig') }}
        {% else %}
            <tr>
                <td colspan="7">No hay ningún lanzamiento en el servidor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Lanzamientos registrados en la base de datos:  {{ pagination.getTotalItemCount }}</h1>

    {% include('shared/paginator.html.twig') %}
{% endblock %}
