{% extends 'base.html.twig' %}

{% block title %}Listado de componentes{% endblock %}

{% block body %}
    <h1>Listado de componentes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Proyecto', 'projectid.name') }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pofile in pagination %}
            <tr>
                <td>{{ pofile.id }}</td>
                <td>{{ pofile.name }}</td>
                <td>
                    {% for project in pofile.projectid %}
                        {{ project.name }}
                    {% else %}
                        No tiene un proyecto asignado (esto no debería pasar)
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-warning" href="{{ path('pofile_edit', {'id': pofile.id}) }}">Editar</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#A{{ pofile.id }}" >Borrar</a>
                </td>
            </tr>
            {{ include('pofile/modalDelete.html.twig') }}
        {% else %}
            <tr>
                <td colspan="7">No hay ningún componente en el servidor</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Componentes registrados en la base de datos:  {{ pagination.getTotalItemCount }}</h1>

    {% include('shared/paginator.html.twig') %}
{% endblock %}
